
<div class="media">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, topic_post_path(post.topic, post) %>
      <%= render partial: "labels/list", locals: { labels: post.labels } %>
    </h4>
    <small>
      <%= image_tag User.avatar_url(current_user, 48), class: "gravatar", style: "float: left; margin-top: 5px" %>
      <br>
      Submitted by <%= post.user.name %> <br>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>